.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    row-gap: 20px;
    column-gap: 5px;
}

.tile-container {
    width: 200px;
    height: 200px;
    background: transparent;
    margin: auto;
}

.tile {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 10px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.tile :hover {
    cursor: pointer;
    background-color: red;
}

.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.front {
    background-image: url('../images/natural-environment-lanscape-scene/31907.jpg');
    background-size: cover;
}

.back {
    /* background-color: blue; */
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}

.matched {
    visibility: hidden;
}

.back.pig {
    background-image: url('../images/pig.jpg');
    background-size: contain;
}

.back.horse {
    background-image: url('../images/horse.jpg');
    background-size: contain;
}

.back.cow {
    background-image: url('../images/cow.jpg');
    background-size: contain;
}

.back.sheep {
    background-image: url('../images/sheep.jpg');
    background-size: contain;
}
