.winMessage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding-top: 100px;
}

.gameOn {
    visibility: hidden;
}

button {
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #8910da;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid white;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}