html {
  background: linear-gradient(rgb(18, 188, 230), rgb(10, 209, 76)) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

body {
  font-family: 'Indie Flower', cursive;
}

footer {
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-size: 10px;
}
